<div class="row contenedor-sobre-mi">
    <div class="col d-none d-md-block contenedor-foto-presentacion">
        <img class="foto-presentacion" src="../../../assets/mi-foto.jpg" alt="Mi fotografia de Presentacion">
    </div>
    <div class="col">
        <div class="contenedor-presentacion-descripcion">
            <h2>Hola! Mi nombre es Nahuel</h2>
            <p class="texto-presentacion">Mi nombre es Nahuel Alberto Cachambi actualmente estoy estudiando la carrera de Analista Programador Universitario.
                Me apasiona el desarrollo de aplicaciones web en especial en el area del backend, también me gusta desarrollar el frontend de las paginas
                y agregarle mi estilo. Mi pasatiempo es indagar y estudiar las distintas tecnologías que se usan para el desarrollo de aplicaciones web, como
                 framework y lenguajes de programación.</p>
        </div>

    </div>

</div>

<div class="row tecnologia-contenedor">
    <div class="titulo-tecnologia">
        <div class="col-4 contenedor-titulo-tecnologia">
                <h1>Tecnologias que he usado</h1>
        </div>
    </div>
    <div class="col-8 imagenes-tecnologia">
            
    </div>

</div>