<div class="row tecnologia-contenedor ">
    <div class=" col-4 titulo-tecnologia">
        <div class="titulo-tecnologia-h">
        <h1>Tecnologias que he usado</h1>
        </div>    
    </div>
    <div class="col-8 ">
        <div class="row-cols-3 row-cols-lg-5 row-cols-md-4">
        @for (t of tecnologias; track t){
        <div class="imagenes-tecnologia">
            <img class="imagen-tecnologia" src="{{t.path}}" alt="{{t.description}}" />
            <h3 class="text-center">{{t.name}}</h3>
        </div>

        }
    </div>

</div>

</div>